@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>O que esperar deste site:</h3>
<p>
    Este site acessa uma agenda de contatos, então é possivel:<br />
    <ul>
        <li>ver os contatos existentes</li>
        <li>adicionar novos contatos</li>
        <li>alterar contatos</li>
        <li>excluir contatos</li>


    </ul>
</p>
<h3>Tecnologias utilizadas:</h3>
<p>
    <ul>
        <li>C#</li>
        <li>ASP.NET Framework</li>
        <li>ORM - Entity Framework</li>
        <li>BootStrap</li>
        <li>SQL-Server</li>
        <li>arquitetura MVC</li>
    </ul>
</p>
<h3>Meu objetivo com este site:</h3>
<p>
    Este site serve para composição do meu portifólio de desenvolvedor. <br />
    Saiba mais em  <a href="https://andreprogramador.000webhostapp.com">https://andreprogramador.000webhostapp.com </a><br />
</p>


