@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    André programador<br />

    <abbr title="Phone">P:</abbr>
    (21)99880-0493
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:andrer54@gmail.com">andrer54@gmail.com</a>
</address>
<br /><br />

Conheça meu site: <br />
 <a href="https://andreprogramador.000webhostapp.com">https://andreprogramador.000webhostapp.com </a><br />