@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda Telefonica</h1>
    <p class="lead">Acesse os contatos, adicione, edite e delete</p>
    <p><a href="/pessoas/Index" class="btn btn-success btn-lg">Acessar Agenda &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Feita em ASP.NET</h2>
        <p>
            Atraves do ASP.NET MVC em conjunto com o EntityFramework pude rapidamente criar este site, que realiza operações basicas de CRUD.
            O deploy do app, e a hospedagem do servidor SQL estão rodando na plataforma Azure.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Conheça ASP.NET &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SQL Server e Entity Framework</h2>
        <p>Esta aplicação utiliza SQL server. Com o banco de dados hospedado na plataforma azure. <br />
        As operações de CRUD (create, read, update, delete) utilizam este banco de dados relacional. </p>
    </div>
    <div class="col-md-4">
        <h2>Serviços conectados com AZURE</h2>
        <p>Desde a codificação integrada entre github e azure, banco de dados, até o deploy do app foram agilizadas com os serviços em nuvem do Azure.</p>
        <p><a class="btn btn-default" href="https://portal.azure.com">Conheça AZURE &raquo;</a></p>
    </div>
</div>